@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction:column; /*Повернём ось, чтобы блоки располагались сверху вниз.*/
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-search-button,
.subscribe-button {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 50px;
  line-height: 36px;
  text-decoration: none;
  outline: none;
}

.subscribe-button {
  background-color: #82b3d3;
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-search-button {
  width: 376px;
  background-color: #756157;
}

.hotel-search-button:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hotel-search-button:focus{
  background-color: #615048;
  color: #ffffff;
}

.hotel-search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.card-price,
.card-type {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card-price {
  text-align: right;
}

.hotel-button {
  color:#ffffff;
  background-color: #756157;
  border-style: none;
  text-decoration: none;
  cursor: pointer;
}

.hotel-button.disabled,
.hotel-button:disabled {
  color: #ffffff;

  background-color: #e5e5e5;
  cursor: default;

  pointer-events: none;
}

.hotel-button.disabled:hover,
.hotel-button.disabled:focus,
.hotel-button.disabled:active {
  background-color: #e5e5e5;
}

.button-reset.disabled,
.button-reset:disabled {
  opacity: 0.1;
  cursor: default;
  pointer-events: none;
  background-color: transparent;
}

.button-reset.disabled:hover,
.button-reset.disabled:focus,
.button-reset.disabled:active {
  background-color: transparent;
}

.hotel-rating {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 17px;
  text-align: center;
  width: 140px;
}

.navigation-button,
.hotel-button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
  outline: none;
}

.navigation-button {
  width: 160px;
  margin: 14px 0 14px 20px;
}

.navigation-button:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation-button:focus{
  background-color: #615048;
  color: #ffffff;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.more-details-button:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.more-details-button:focus{
  background-color: #615048;
  color: #ffffff;
}

.more-details-button:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.button-apply,
.button-reset {
  background: #82b3d3;
  border: none;
  padding: 8px 50px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button-apply {
  border-radius: 4px;
}

.button-apply:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-apply:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-reset {
  background:transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.button-favorites {
  background: #82b3d3;
}

.button-favorites:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-favorites:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-in-favorites {
  background: #7db54f;
}

.button-in-favorites:hover {
  background: #6c9e42;
}

.button-in-favorites:focus {
  background: #6c9e42;
}

.button-in-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.30);
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 56px;
  gap: 32px;
  width: 191px;
  margin-left: 70px;
}

.display-button {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 14px 12px;
  outline: none;
}

.display-button:hover {
  border: 2px solid #000000;
}

.display-button:focus {
  border: 2px solid #68a2ca;
}

.display-button:active {
  border: 2px solid #000000;
}

.button-table-view {
  background-image: url("../images/view/view-icon-1.svg");
}

.button-single-view {
  background-image: url("../images/view/view-icon-2.svg");
}

.button-list-view {
  background-image: url("../images/view/view-icon-3.svg");
}

.button-active {
  border: 2px solid #000000;
}

.select {
  position: relative;
  align-items: center;
  width: 290px;
 }

.sorting-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 20px;
  padding-right: 45px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin: 0 70px 0 auto;
  width: 292px;
  height: 49px;
  cursor: pointer;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.sorting-select:hover {
  border: 2px solid #68a2ca;
}

.sorting-select:focus {
  border: 2px solid #68a2ca;
}

.sorting-select:disabled,
.sorting-select.disabled,
.sorting-select.disabled:hover,
.sorting-select.disabled:focus {
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;

  pointer-events: none;
}

.hotel-rating {
  background: #f2f2f2;
  color: #333333;
}

.hotel-card-stars {
  background-image: url("../images/hotels/star.svg");
  background-repeat: space no-repeat;
  background-position: left center;
}

.one-star {
  width: 18px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.five-stars {
  width: 90px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.page-header-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-container {
  padding: 50px 70px 60px;
}

.hotel-found {
  margin-bottom: 40px;
}

  /*Pages*/

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}

.navigation-logo:not(.navigation-logo-index):hover {
  opacity: 0.6;
}

.navigation-logo:not(.navigation-logo-index):active {
  opacity: 0.3;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

.pagination-container {
  display: flex;
  border-top: 1px solid #e6e6e6;
  padding-top: 39px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 11px 13px 11px;
  align-items: center;
  border-radius: 4px;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color:#ffffff;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  min-width: 60px;
  height: 60px;
  outline: none;
}

.pagination-link-hover {
  background-color: #82b3d3;
  color:#ffffff;
}

.pagination-link-hover:hover {
  background-color: #68a2ca;
}

.pagination-link-hover:focus {
  background-color: #68a2ca;
}

.pagination-link-hover:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link-current {
  background: #f2f2f2;
  color: #000000;
}

.pagination-link-ellipsis {
  background: #ffffff;
  color: #000000;
}

.site-container {
  background-color: #ffffff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  min-width: 1060px;
  align-items: flex-start;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  width: 565px;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 135px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.navigation-user-link {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  display: block;
}

.user-navigation-search {
  background-image: url("../images/search-icon.svg");
}

.main-link:not(.navigation-link-current):hover {
  opacity: 0.6;
}

.main-link:not(.navigation-link-current):active {
  opacity: 0.3;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;

  background-color: #756257;
}

.navigation-item .user-navigation-favorites {
  position: relative;
  background-image: url("../images/heart-icon.svg");
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price {
  width: 288px;
}

.cost-selection-input::-webkit-outer-spin-button,
.cost-selection-input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.catalog-filter .infrastructure {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter .housing-type {
  width: 151px;
  margin-right: 140px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  align-items: center;
  font-size: 16px;
}

.breadcrumbs-link-home {
  background-image: url("../images/house-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  display: inline-block;

  width: 12px;
  height: 12px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-position: center;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.infrastructure {
  margin-right: 70px;
  width: 150px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title,
.filter-price-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item label {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.control-input:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.60);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  background-color:#ffffff;
}

.control-label:hover {
 opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url("../images/selected-element.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.price-container {
  display: grid;
  gap: 36px 2px;
  margin-bottom: 44px;
  grid-template-columns: repeat(2, 143px);
}

.price-container button {
  grid-column: 1/-1;
}

.price-container .cost-selection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cost-selection span {
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}

.cost-selection input {
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  padding-top: 13px;
  padding-right: 40px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  line-height: 24px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.cost-selection input:hover {
  background-color: #e5e5e5;
}

.cost-selection input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.cost-selection:nth-child(1) input {
  border-radius: 4px 0 0 4px;
}

.cost-selection:nth-child(2) input {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #808080;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus,
.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-max {
  right: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin: 0 auto;
}

.sorting-container-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  color:#000000;
  margin: 0;
  margin-right: auto;
  max-width: 510px;
}

.display-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  gap: 8px;
}

.display-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}

.hero {
  padding: 51px 70px 82px;
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../images/hero-pattern.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain, cover;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages-sedona-title,
.hotel-search-title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-sedona-title {
  max-width: 650px;
}

.hotel-search-title {
  margin-bottom: 20px;
}

.subscribe-title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  max-width: 410px;
}

.service-description {
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  margin: 0;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 69px 0 69px 0;
  margin-bottom: 21px;
}

.service-container,
.hotel-search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hotel-search-container {
  padding: 96px 304px;
}

.service-container {
  padding: 64px 0 64px 0;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

/* Item */
.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  background:  rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-image {
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  width: 500px;
  margin: 0;
  margin-bottom: 20px;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}

.service-item {
  position: relative;
  width: 400px;
  padding: 184px 85px 80px;
}

.service-item::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  width: 75px;
  height: 72px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.service-item-housing::before {
  background-image: url("../images/home-icon.svg");
}

.service-item-food::before {
  background-image: url("../images/food-icon.svg");
}

.service-item-souvenirs::before {
  background-image: url("../images/surprise-icon.svg");
  height: 76px;
}

.background-service {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  border-radius: 4px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.advantages-container-wide {
  background: #82B3D3;
  min-height: 385px;
  align-items: center;
  padding: 102px 85px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
  margin-top: 10px;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color:  rgba(0, 0, 0, 0.30);
  margin: 30px auto;
}

.advantages-title-wide {
  display: inline-block;
  color: #ffffff;
  margin-top: 0;
}

.advantages-title-wide::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color:  rgba(255, 255, 255, 0.30);
  margin: 30px auto;
}

.advantages-content {
  color:  #333333;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.subscribe-description {
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-form {
  display: flex;
  margin-top: 54px;

}

.subscribe-index {
  background-image: url("../images/subscribe-background.jpg");
  color: #ffffff;
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.description {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  max-width: 900px;
}
.hotel-search-description {
  margin-bottom: 54px;
  max-width: 592px;
}

.advantages-description {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.navigation-basket {
  position: absolute;
  top: 11px;
  right: 4px;
  background-color: #7db54f;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;
  box-sizing: border-box;
  min-width: 20px;
  max-width: 25px;
  height: 20px;
  padding: 5px 4px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  display: flex;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: block;
  outline: none;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #83b3d3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68a2ca;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  margin-top: 15px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 21px 18px 22px 22px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: none;
  box-sizing: border-box;
  width: 256px;

  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/triangle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.field-group-label{
  display: flex;
  max-width: 91px;
  margin-right: 46px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.form-label,
.form-label-kids {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.form-label {
  padding-bottom: 5px;
}

/*Появление текстового блока при наведении и фокусе на кнопке*/

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  max-width: 85px;
}

.field-group-date {
  border-radius: 4px;
  background: #f2f2f2;
  border: none;
  padding: 12px 20px;
  margin-bottom: 4px;
  width: 440px;

  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 145px;
  justify-content: flex-start;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  outline: none;
}

.social-icon {
  fill:#83b3d3;
}

.footer-social-link:hover .social-icon {
  fill:#68a2ca;
}

.footer-social-link:focus .social-icon {
  fill:#68a2ca;
}

.footer-social-link:active .social-icon {
  fill-opacity:0.3;
}

.field {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 452px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 2px solid #83b3d3;
}

.field:disabled {
  background-color: #e5e5e5;
}

.contact-phone-number {
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  outline: none;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: #756157;
}

.contact-phone-number:active {
  color: rgba(117, 97, 87, 0.30);
}

.htmlacademy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.htmlacademy-logo {
  fill:black;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill:#756157;
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill:#756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill-opacity:0.3;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

.inner-background {
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #8daab8;
  background-size: cover;
  background-position: center center;
  margin-top: 0;
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.hotel-card-title {
  color:  #000000;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.modal-container,
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-container {
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility 4s;
}

.modal,
.modal-single {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal {
  transform: scale(0);
  transition: transform .8s;
}

.modal-container.open {
  visibility: visible;
  opacity: 1;
}

  /* если у modal-container появится класс open, то эти стили применятся к .modal */
.modal-container.open .modal {
  transform: scale(1);
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url("../images/close.svg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #e6e6e6;
  outline: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.auth-form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  width: 577px;
  padding: 18px 77px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #83b3d3;
  border: none;
  outline: none;
}

.auth-form-button:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.auth-form-button:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.auth-form-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.auth-form .field-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 23px;
}

.field-group-date {
  background-image: url("../images/calendar-icon.svg");
  box-sizing: border-box;
  width: 440px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-size: 20px 20px;
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.field-group-message {
  font-size: 16px;
  min-height: 21px;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  margin-left: 137px;
}

.date-error {
  color: #ff5757;
}

.addition-form {
  display: flex;
  justify-content: space-between;
}

.form-label-kids {
  margin-right: 10px;
}

.addition-form-field {
  font-family: inherit;
  text-align: center;
  width: 31px;
  border: none;
  background: #f2f2f2;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  height: 48px;
  -webkit-appearance: textfield;
  appearance: textfield;
  padding: 0;
}

.addition-form-field::-webkit-outer-spin-button,
.addition-form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus {
  outline:3px solid #83b3d3;
}

.modal-input:disabled {
  background-color: #e5e5e5;
}

.addition-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 40px;
  height: 48px;
}

.addition-button-wrapper:last-of-type {
  border-radius: 0 4px 4px 0;
}

.addition-form-button {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  padding: 0;
}

.addition-form-button:hover .addition-button-icon {
  fill: #000000;
  fill-opacity: 1;
}

.addition-form-button:focus {
  fill: #000000;
  fill-opacity: 1;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.addition-form-button:active .addition-button-icon {
  opacity: 0.2;
}

.addition-button-icon {
  fill: rgba(117, 97, 87, 0.30);
}
