@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction:column; /*Повернём ось, чтобы блоки располагались сверху вниз.*/
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-search-button,
.subscribe-button {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 50px;
  line-height: 36px;
  text-decoration: none;
}

.subscribe-button {
  background-color: #82b3d3;
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-search-button {
  width: 376px;
  height: 52px;
  background-color: #756157;
}

.hotel-search-button:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hotel-search-button:focus{
  background-color: #615048;
  color: #ffffff;
}

.hotel-search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-button {
  color:#ffffff;
  background-color: #756157;
  border-style: none;
  text-decoration: none;
}

.hotel-button-hover {
  background-color: #756157;
  color:#ffffff;
}

.hotel-button-hover:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hotel-button-hover:focus{
  background-color: #615048;
  color: #ffffff;
}

.hotel-button-hover:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.hotel-button,
.hotel-rating {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 17px;
  text-align: center;
  width: 140px;
}

.hotel-button {
  cursor: pointer;
}

.button-apply,
.button-reset {
  background: #82b3d3;
  border: none;
  padding: 8px 50px;
  align-items: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.button-apply {
  border-radius: 4px;
}

.button-apply:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-apply:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-apply:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-reset {
  background:transparent;
}

.button-favorites {
  background: #82b3d3;
}

.button-favorites:hover {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-favorites:focus {
  background-color: #68a2ca;
  color: #ffffff;
}

.button-favorites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  color: #ffffff;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.30);
}

.button-reset:active {
  border-radius: 4px;
  opacity: 0.6;
}

.button-in-favorites {
  background: #7db54f;
}

.button-in-favorites:hover {
  background: #6c9e42;
}

.button-in-favorites:focus {
  background: #6c9e42;
}

.button-in-favorites:active {
  background: #7db54f;
  color: rgba(255, 255, 255, 0.30);
}

.navigation-button {
  display: block;
  font-family: "PT Sans";
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}

.navigation-button:hover {
  background-color: #615048;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation-button:focus{
  background-color: #615048;
  color: #ffffff;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

/* .navigation-button.disabled{
  background-color: #e5e5e5;
  color: #ffffff;
} */

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
  width: 191px;
  margin-left: 70px;
}

.display-button {
  display: block;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 14px 12px;
}

.display-button:hover {
  border: 2px solid #000000;
}

.display-button:focus {
  border: 2px solid #68a2ca;
}

.display-button:active {
  border: 2px solid #000000;
}

.button-table-view {
  background-image: url("../images/view/View-icon-1.svg");
}

.button-single-view {
  background-image: url("../images/view/View-icon-2.svg");
}

.button-list-view {
  background-image: url("../images/view/View-icon-3.svg");
}

.button-active {
  border: 2px solid #000000;
}

.select {
  position: relative;
  align-items: center;
  width: 290px;

 }

.sorting-select {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin: 0 70px 0 auto;
  width: 292px;
  height: 49px;
  cursor: pointer;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.sorting-select:hover {
  border: 2px solid #68a2ca;
}

.sorting-select:focus {
  border: 2px solid #68a2ca;
}

.sorting-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
}

.hotel-rating {
  background: #f2f2f2;
  color: #333333;
}

.hotel-card-stars {
  background-image: url("../images/hotels/star.svg");
  height: 17px;
}

.one-star {
  width: 18px;
}

.two-stars {
  width: 36px;
}

.three-stars {
  width: 54px;
}

.four-stars {
  width: 72px;
}

.five-stars {
  width: 90px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.card-price,
.card-type {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
}

.card-price {
  text-align: right;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-container {
  padding: 50px 70px 60px;
}

.hotel-found {
  margin-bottom: 40px;
}

  /*Pages*/

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 0 13px 0;
  align-items: center;
  border-radius: 4px;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  font-family: "PT Sans";
  color:#ffffff;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 60px;
  height: 60px;
}

.pagination-link-hover {
  background-color: #82b3d3;
  color:#ffffff;
}

.pagination-link-hover:hover {
  background-color: #68a2ca;
}

.pagination-link-hover:focus {
  background-color: #68a2ca;
}

.pagination-link-hover:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link-current,
.pagination-link-ellipsis {
  background: #f2f2f2;
  color: #000000;
}

.site-container {
  background-color: #ffffff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  min-width: 1060px;
  line-height: 24px;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  max-width: 380px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-family: "PT Sans";
  line-height: 24px;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;

  background-color: #756257;
}

.navigation-item .favorites-add {
  position: relative;
  margin-right: 20px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price {
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.catalog-filter .infrastructure {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter .housing-type {
  width: 151px;
  margin-right: 140px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  align-items: center;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/arrow.svg");
  background-position: center;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.60);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color:rgba(255, 255, 255, 0.30);
}

.breadcrumbs-link-home {
  background-image: url("../images/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  display: inline-block;

  width: 12px;
  height: 12px;
}

.infrastructure {
  margin-right: 70px;
  width: 150px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title,
.filter-price-title {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
}

/* .catalog-filter-item input {
  margin: 0;
  margin-right: 16px;
} */

.catalog-filter-item label {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 19px;
  border-radius: 5px;
}

.control:hover .control-mark {
  background-color: #ffffff;
}

.control:focus .control-mark {
  background-color: #3f5e72;
}

.control:active .control-mark {
  background-color: #ffffff;
  border: 3px solid #83b3d3;
}

.control-input:disabled + .control-mark {
  background-color: #3f5e72;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/selected-element.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.price-container {
  display: grid;
  gap: 36px 2px;
  margin-bottom: 36px;
  grid-template-columns: repeat(2, 143px);
}

.price-container button {
  grid-column: 1/-1;
}

.price-container .cost-selection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.cost-selection span {
  font-family: "PT Sans";
  color: rgba(0, 0, 0, 0.3);
  line-height: 24px;
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 11px;
}

.cost-selection input {
  font-weight: 700;
  font-family: "PT Sans";
  font-size: 18px;
  padding: 12px 20px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  line-height: 24px;
}

.cost-selection:nth-child(1) input {
  border-radius: 4px 0 0 4px;
}

.cost-selection:nth-child(2) input {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #808080;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  margin: 0 auto;
}

.sorting-container-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "PT Sans";
  color:#000000;
}

.display-list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.display-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 485px;
  background-color: #ffffff;
}

.advantages-sedona-title,
.hotel-search-title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  max-width: 620px;
}

.subscribe-title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.service-description {
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  margin-top: 0;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 69px 0 69px 0;;
}

.service-container,
.hotel-search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hotel-search-container {
  padding: 96px 304px;
}

.service-container {
  padding: 64px 0 64px 0;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

/* Item */
.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  background:  rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-image {
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*
.service-item:nth-child(1) {
  background-color:  rgba(131, 179, 211, 0.12);
  background-image: url("../images/home-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
} */

.service-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  width: 500px;
  margin: 0;
  margin-bottom: 20px;
}

.service-item-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.service-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.background-service {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style-type: none;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  border-radius: 4px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  align-items: center;
  width: 340px;
}

.advantages-container-wide {
  background: #82B3D3;
  min-height: 385px;
  align-items: center;
  padding: 102px 85px;
}

.advantages-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
}

.advantages-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color:  rgba(0, 0, 0, 0.30);
  margin: 30px auto;
}

.advantages-title-wide {
  display: inline-block;
  color: #ffffff;
  margin-top: 0;
}

.advantages-title-wide::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color:  rgba(255, 255, 255, 0.30);
  margin: 30px auto;
}

.advantages-content {
  color:  #333333;
  text-align: center;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.subscribe-description {
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-form {
  display: flex;
  margin-top: 54px;
}

.subscribe-index {
  background-image: url("../images/subscribe.jpg");
  color: #ffffff;
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.description {
  text-align: center;
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.hotel-search-description {
  margin-bottom: 54px;
  max-width: 592px;
}

.advantages-description {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

.favorites-count {
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px;
  color:#ffffff;
  border-radius: 50%;
  background-color: #7db54f;
  right: 6px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.gargeaus-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 200px;
  justify-content: flex-start;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill:#83b3d3;
}

.footer-social-link:hover .social-icon {
  fill:#68a2ca;
}

.footer-social-link:focus .social-icon {
  fill:#68a2ca;
}

.footer-social-link:active .social-icon {
  fill-opacity:0.3;
}

.field {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 412px;
  height: 52px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.contact-phone-number {
  color: #000000;
  text-align: center;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-phone-number:hover {
  color: #756157;
}

.contact-phone-number:focus {
  color: #756157;
}

.contact-phone-number:active {
  color: rgba(117, 97, 87, 0.30);
}

.htmlacademy-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.htmlacademy-logo {
  fill:black;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill:#756157;
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill:#756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill-opacity:0.3;
}

.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px;
  align-items: center;
  font-family: "PT Sans";
}

.inner-background {
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #8daab8;
  background-size: cover;
  background-position: center center;
  margin-top: 0;
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.hotel-card-title {
  color:  #000000;
  margin: 0;
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);

}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-image: url("../images/close.svg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 1px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #e6e6e6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.auth-form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  width: 577px;
  padding: 18px 77px;
  border-radius: 10px;
  background-color: #83b3d3;
  border: none;
}
