@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction:column; /*Повернём ось, чтобы блоки располагались сверху вниз.*/
  min-height: 100%;
  font-family: "PT Sans" sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  color: #ffffff;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.hotel-button {
  color:#ffffff;
  border-radius: 4px;
  min-width: 140px;
  height: 36px;
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 22px;
}



/* header */

.reserve {
  font-family: "PT Sans";
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}



.button-apply, .button-reset {
  background: #82b3d3;
  border: none;
  padding: 8px 50px;
  align-items: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-reset {
  background:transparent;
}



.sorting-select {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  margin: 0 70px 0 auto;
  width: 292px;
  height: 49px;
}

.button-select {

  width: 48px;
  height: 48px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}



.card-raiting {
  display: flex;
  justify-content: space-between;
  /* margin-top: 16px; */
  padding: 0;
}

.button-favorites {
  background: #82b3d3;
}

.button-in-favorites {
  background: #7db54f;
}

.card-price {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}

.hotel-rating {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 22px;
  min-width: 145px;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1060px;
  margin: 0 auto;

}

.hotel-found {
  margin-bottom: 40px;
}

/* .catalog-container {
  padding: 50px 70px 60px;
} */
  /*Pages*/

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header-logo {
  display: block;
  margin-bottom: -6px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

.pagination-container {
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 0 13px 0;
  align-items: center;
  border-radius: 4px;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  font-family: "PT Sans";
  color:#ffffff;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-transform: uppercase;
  text-align: center;
  width: 60px;
  height: 60px;
}

.pagination-current,
.pagination-link-ellipsis {
  background: #f2f2f2;
  color: #000000;
}

.site-container {
  background-color: #ffffff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  min-width: 1060px;
  line-height: 24px;
  padding: 0;

}

.navigation-logo {

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  max-width: 380px;
  margin-left: auto;

}

.navigation-link {
  display: block;
  font-family: "PT Sans";
  line-height: 24px;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.catalog-filter-group,
.catalog-filter-housing,
.filter-price {
  border: none;

}

.navigation-button {
  display: block;
  font-family: "PT Sans";
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-family: "PT Sans";
  margin-right: 28px;
}

.infrastructure {
  margin-right: 70px;
  width: 150px;
}

.catalog-filter-title,
.filter-price-title {
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-item input {
  margin: 0;
  margin-right: 16px;
}

.catalog-filter-item label {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
}

.price-container {
  display: grid;
  gap: 36px 2px;
  grid-template-columns: repeat(2, 143px);
}

.price-container button {
  grid-column: 1/-1;
}

.price-container .cost-selection {
  display: flex;
  font-family: "PT Sans";
  font-size: 18px;
  flex-direction: column;
  line-height: 24px;
  position: relative;
}

.cost-selection span {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 20px;
  top: 7px;
}

.cost-selection input {
  font-weight: 700;
  padding: 12px 20px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.cost-selection:nth-child(1) input {
  border-radius: 4px 0 0 4px;
}

.cost-selection:nth-child(2) input {
  border-radius: 0 4px 4px 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 191px;
  margin-left: auto;
}

.button-apply {
  border-radius: 4px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  margin: 0 auto;

}

.sorting-container-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "PT Sans";
  color:#000000;
  /* margin: 0; */
}

.display-list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.display-item {
  width: 48px;
  height: 48px;
  list-style-type: none;
}

.button-display {
  display: flex;
  justify-content: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 14px 12px;
}

.button-active {
  border: 2px solid #000000;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 485px;
  background-color: #ffffff;
}


.advantages-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 620px;
  /* border-bottom: 2px rgba(0, 0, 0, 0.30) solid; */
}

.advantages-sedona-title,
.hotel-search-title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  max-width: 620px;
}

.subscribe-title {
  text-align: center;
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.service-description {
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  margin-top: 0;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 69px 0 69px 0;;
}

.service-container,
.hotel-search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 64px 0 64px 0;
}

  /* List */

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

/* Item */
.advantages-item {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
  background:  rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  width: 500px;
  margin: 0;
  margin-bottom: 20px;
}

.service-item-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}

.service-item {
  width: 400px;
  padding: 80px 85px;
  text-align: center;
}

.background-service {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  /* flex-wrap: wrap; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-card-item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.hotel-description {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  /* margin-bottom: 16px; */
}



.advantages-container-wide {
  background: #82B3D3;
  min-height: 385px;
  align-items: center;
  padding: 102px 85px;
}

/* .advantages-item-container {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
} */
  /*Title*/

.advantages-title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-wide {
  color: #ffffff;
  margin-top: 0;
}

.advantages-content {
  color:  #333333;
  text-align: center;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}



.subscribe-description {
  margin-bottom: 54px;
}


.button-hotel-search, .subscribe-button {
  width: 376px;
  height: 52px;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
  /* margin-top: 54px; */
  text-decoration: none;
  /* display: inline-flex;
  justify-content: center; */
  /* align-items: center; */
}

.subscribe-form {
  display: flex;
  margin-top: 54px;
}

.subscribe-button {
  background-color: #82B3D3;
  width: 232px;
  padding: 8px 50px;
  align-items: center;
  border: none;
  border-radius: 0 4px 4px 0;
  /* display: inline-block; */
}

.subscribe-index {
  background-image: url("../images/subscribe.jpg");
  color: #ffffff;
  background-color: #8daab8;
  background-size: cover;
  background-repeat: no-repeat;
}






.catalog-filter {
  display: flex;
}











.description {
  text-align: center;
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.hotel-search-description {
  margin-bottom: 54px;
}



.advantages-description {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}





.navigation-link-current {
  border-bottom: 2px #746257 solid;
}

.favorites-count {
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  padding: 5px 5px;
  color:#ffffff;
  border-radius: 50%;
  background-color: #7db54f;
  right: 6px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.navigation-item .favorites-add {
  position: relative;
  margin-right: 20px;
  /* padding: 22px 12px; */
}



.gargeaus-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}



.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 96px 304px; */
}

/* footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 70px 30px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 200px;
  justify-content: flex-start;
  list-style-type: none;
}

.footer-social-item {

}

.field {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  text-align: left;
  width: 412px;
  height: 52px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-color: transparent ;
  border: none;
  cursor: pointer;
}

.contact-phone-number {
  color: #000;
  text-align: center;
  font-family: "PT Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}


.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 104px;
  align-items: center;
  font-family: "PT Sans";
}




.inner-background {
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #8daab8;
  background-size: cover;
  background-position: center center;
  margin-top: 0;
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.hotel-card-title {
  /* align-self: flex-start; */
  color:  #000000;
  margin: 0;
  /* margin-bottom: 16px; */
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  /* margin-bottom: 16px; */
}



.visually-hidden {
  display: none;
}
